[submodule "themes/stack"]
	path = themes/stack
	url = https://github.com/erikngigi/hugo-theme-stack.git
	branch = dev
[submodule "themes/stack-dev"]
	path = themes/stack-dev
	url = https://github.com/erikngigi/hugo-theme-stack.git
	branch = dev
